/* @import url("userdashboard.css");
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
}

/* Action Bar */
.actionbar {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 900px;
    padding: 5px 0;
    margin-top: 40px;
}

.actionbar h2 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

/* MIDDLECARD */
.middlecard {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 50px;
    width: 100%;
}

/* Banner */
.banner h1 {
    font-size: 40px;
    font-weight: bold;
}

/* Event Information Form */
.form-item {
    font-size: 24px;
    background-color: #f5f5f5;
}

.form-item input {
    border: none;
    font-size: 20px;
    width: 300px;
    border: 1px solid #141313;
    border-radius: 5px;
    background-color: #fff;
}

/* User Image */
input[type="file"] {
    display: none;
}

/* Layout container */
.upload-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

/* Upload Button */
.custom-file-upload {
    background-color: #ffcb47;
    color: #1a1313;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #1a1313;
    padding: 5px 10px;
    text-align: center;
}

.custom-file-upload:hover {
    background-color: #e5b73c;
}

/* Image Preview Box */
.image-preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-top: 30px;
}

.image-preview-container label {
    font-size: 24px;
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

.image-preview {
    width: 300px;
    height: 200px;
    border: 1px solid #000;
    resize: none;
    background-color: #f9f9f9;
}

/* Event Information Form */
.event-description-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

/* Label */
.event-description label {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
    display: block;
}

/* Textarea */
.event-description textarea {
    width: 50%;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px; 
    margin-bottom: 10px;
}

textarea:focus {
    border-color: #FFCB47;
    outline: none;
}

/* Submit Button */
.event-submit {
    background-color: #FF5A5F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 13px;
    cursor: pointer;
    font-size: 14px; 
    margin-bottom: 15px;
    display: block; 
    margin-left: auto; 
}

.event-submit:hover {
    background-color: #FF3A3F;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.btn {
    text-decoration: none;
    color: #1a1313;
    transition: color 0.3s ease, transform 0.2s ease; 
}

.btn:hover {
    color: #FF5A5F; 
}

/* RESPONSIVE STYLING FOR MOBILE */
@media (max-width: 680px) {
    .middlecard {
        padding: 10px;
        width: 100%;
        min-height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
    }

    .middlecard > * {
        width: 100%;
        box-sizing: border-box;
    }

    .form-item-title input, .form-item input {
        width: 280px;
        border: 1px solid #141313;
        border-radius: 5px;
        background-color: #fff;
    } 

    .upload-container {
        margin-bottom: 20px;
    }

    .event-submit {
        position: absolute;
        left: 220px;
    }
}