<link rel="stylesheet" href="css/createevent.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

 
<section class="middlecard">
    <div class="banner">
        <h1>Create Events</h1>
    </div>

    <div class="actionbar">
        <h2>Event Information</h2>
    </div>
    
    <div class="table">
        <form action="">
            <div class="form-item-title">
                <label for="">Event Title:</label>
                <input type="text" placeholder="">
            </div>

            <div class="form-item">
                <label for="">Category:</label>
                <input type="text" placeholder="">
            </div>

            <div class="form-item">
                <label for="">Start Date:</label>
                <input type="datetime-local" placeholder="">
            </div>

            <div class="form-item">
                <label for="">End Date:</label>
                <input type="datetime-local" placeholder="">
            </div>

            <div class="form-item">
                <label for="">Location:</label>
                <input type="text" placeholder="">
                <select name="action" id="action">
                    <option value="select" selected>ON</option>
                    <option value="select">QC</option>
                </select>
            </div>

            <div class="form-item">
                <label for="">Venue:</label>
                <input type="text" placeholder="">
            </div>

            <div class="form-item">
                <label for="">Participants:</label>
                <input type="number" min="1">
            </div>

            <div class="form-item">
                <label for="">Price:</label>
                <input type="text" placeholder="$">
            </div>
        </form>
    </div>

    <form id="imageUploadForm">
        <div class="image-preview-container">
            <label for="file-upload">Event Image</label>
            <textarea class="image-preview" id="image-preview" readonly></textarea>
        </div>
    
        <div class="upload-container">
            <label for="file-upload" class="custom-file-upload">Upload Image:</label>
            <input type="file" id="file-upload" name="image" accept="image/*" onchange="previewImage(event)">
        </div>
    </form>
    
    <form action="eventInformationForm">
        <div class="event-description">
            <label for="event-info">Event Description:</label>
            <textarea name="event-info" id="event-info" cols="30" rows="8" placeholder="Tell Eventify about the Event"></textarea>
        </div>

        <div class="event-submit">
            <input type="submit" value="Create Event">
        </div>
    </form>
</section>



