<link rel="stylesheet" href="css/favorite-events.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

 
<section class="middlecard">
    <div class="banner">
        <h1>Favorites</h1>
    </div>   
    <div class="actionbar">
        <h3>Select An Event</h3>
        <select name="action" id="action">
            <option value="---------" selected>---------</option>
            <option value="remove">Remove Event</option>
        </select>
        <button type="submit">Go</button>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Select Event</th>
                    <th>Title</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><input type="checkbox" name="select-event"></td>
                    <td>Event</td>
                </tr>

                <tr>
                    <td><input type="checkbox" name="select-event"></td>
                    <td>-</td>
                </tr>

                <tr>
                    <td><input type="checkbox" name="select-event"></td>
                    <td>-</td>
                </tr>

                <tr>
                    <td><input type="checkbox" name="select-event"></td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>