<section class="middlecard">
    <div class="banner">
        <h1>Welcome Back</h1>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Listings</a></li>
    </ul>
    </div>
    <div class="search-container">
        <form action="#" class="search-bar">
            <input type="text" placeholder="🔍 Search an Event" name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>    
    <div class="actionbar">
        <h3>Your Events</h3>
        <select name="action" id="action">
            <option value="---------" selected>---------</option>
            <option value="remove">Remove Event</option>
        </select>
        <button type="submit">Go</button>
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th><i class="fa-regular fa-square"></i></th>
                    <th>Title</th>
                    <th>Date/Time</th>
                    <th>Location</th>
                    <th>Venue</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><input type="checkbox" name="select-event"></td>
                    <td>Event</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td><input type="checkbox" name="select-event"></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td><input type="checkbox" name="select-event"></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>

                <tr>
                    <td><input type="checkbox" name="select-event"></td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>