<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/userdashboard.css">
    <title>Eventify - User Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="navbar">
        <div class="container">
            <a href="homepage.html" class="logo">Eventify</a>
            <nav>
                <ul class="nav-menu">
                    <li><a href="#">Username/</a></li>
                    <li><a href="#">View Page/</a></li>
                    <li><a href="#">Change Password/</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </nav>
        </div>
        
        <div class="hamburger" onclick="toggleMenu()">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>

    <main class="dashboard-layout">
        <!-- Sidebar -->
        <section class="userdashboard">
            <div class="user-list">
                <div class="user-id">
                    <img src="#" alt="">
                    <h1>USER NAME</h1>
                    <h2>example@email.com</h2>
                </div>
                
                <ul class="user-events">
                    <p>Dashboard</p>
                    <li><a href="#" onclick="loadIframe('myevents.html', this)"><i class="fa-solid fa-eye"></i> My Events</a></li>
                    <li><a href="#" onclick="loadIframe('createevent.html', this)"><i class="fa-solid fa-pencil"></i> Create an Event</a></li>
                    <li><a href="#" onclick="loadIframe('favorite-events.html', this)"><i class="fa-solid fa-check"></i> Favorites</a></li>
                </ul>
                <ul class="user-preferences">
                    <li><a href="#" onclick="loadIframe('userprofile-dashboard.html', this)">Edit Profile</a></li>
                    <li><a href="#"></i>View User Profile</a></li>
                </ul>
            </div>            
        </section>

        <!-- Content Area -->
        <section class="content">
            <iframe id="content-frame" src="myevents.html"></iframe>
        </section>
    </main>
    
    <script>
        function loadIframe(page, element) {
            document.querySelectorAll(".user-events li a, .user-preferences li a").forEach(link => {
            link.classList.remove("active-link");
        });
            element.classList.add("active-link");
            document.getElementById("content-frame").src = page;
        }

        function toggleMenu() {
            const menu = document.querySelector('.nav-menu');
            menu.classList.toggle('active');
        }
    </script>
</body>
</html>