{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Eventify{% endblock %}</title>
     <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="static/events/homepage.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>


<body>
  
  <header>
    <div class="top-bar">
        <div class="logo">Eventify</div>
        <div class="auth-buttons">
            <a href="" class="login">Log in</a>
            <a href="" class="signup">Sign up</a>
        </div>
    </div>

    <div class="bottom-bar">
        <nav>
            <a href="">Home</a>
            <a href="">Listings</a>
        </nav>
        <form class="search-bar" method="GET" action="{% url 'homepage' %}">
            <input type="text" name="q" placeholder="Search events..." value="{{ query }}">
            <select name="location" aria-label="Location">
                <option>Quebec</option>
            </select>
            <select name="location" aria-label="Location">
                <option>Montreal</option>
            </select>
            <button class="search">Search</button>
        </form>
    </div>
  </header>
  
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  <footer>
    <div class="footer-nav">
        <a href="">Home</a>
        <a href="">Services</a>
        <a href="">Blog</a>
    </div>
    <div class="social-links">
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
        <a href=""><i class="fab fa-youtube"></i></a>
        <a href=""><i class="fab fa-tiktok"></i></a>
    </div>
    <div class="copyright">
        © 2025, Eventify. All Rights Reserved
    </div>
  </footer>
  
</body>
</html>