{% extends "base.html" %}

{% block content %}

<section class="event-detail">
    <div class="event-container">

       {% if event.image %}
            <img src="{{ event.image.url }}" alt="{{ event.title }}" class="event-image">
        {% else %}
            <p>No image available for this event.</p>
        {% endif %}

        <h1>{{ event.title }}</h1>
        <p class="event-date"><strong>Date:</strong> {{ event.start_datetime }}</p>
        <p class="event-location"><strong>Location:</strong> {{ event.location }}</p>
        <p class="event-description">{{ event.description }}</p>

        {% if event.website %}
            <p><a href="{{ event.website }}" target="_blank">Visit Event Website</a></p>
        {% endif %}
    
        <div class="event-actions">
            <a href="{% url 'event_list' %}" class="btn">Back to Events</a>
        </div>

    </div>
</section>

{% endblock %}