{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/dashboard.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/createevent.css' %}">
{% endblock %}

{% block header %}

<header class="navbar">
    <div class="container">
        <a href="{% url 'homepage' %}" class="logo">Eventify</a>
        <nav>
            <a>{{ user.username }}</a>
            <a href="{% url 'homepage' %}">Homepage</a>
            <a href="{% url 'accounts:password_update' %}">Update Password</a>
            <a href="{% url 'accounts:logout' %}" class="logout">Logout</a>
        </nav>
    </div>
    
    <!-- <div class="hamburger" onclick="toggleMenu()">
        <i class="fa-solid fa-bars"></i>
    </div> -->
</header>
{% endblock %}

{% block content %}
<main class="dashboard-layout">
    <section class="userdashboard">
        <div class="user-list">
            <div class="user-id">
                {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
                {% else %}
                <img src="{% static 'accounts/images/default-profile.png' %}" alt="Default Profile Picture">
                {% endif %}
                <h1>{{ user.username }}</h1>
                <h3>{{ user.email }}</h3>
                <p><strong>Bio:</strong> {{ user.bio }}</p>
                <p><strong>Joined:</strong> {{ user.date_joined }}</p>
            </div>
            
            <ul class="user-events">
                <p>Dashboard</p>
                <li><a href="{% url 'created_events' %}">My Events</a></li>
                <li><a href="{% url 'event_creation' %}">Create Events</a></li>
                <li><a href="{% url 'favorite-events' %}">Favorite Events</a></li>
                <li><a href="{% url 'attended-events' %}">Attended Events</a></li>    
            </ul>
            <ul class="user-preferences">
                <li><a href="{% url 'accounts:edit_profile' %}">Edit Profile</a></li>
            </ul>
        </div>            
    </section>

    <section class="middlecard">
        <div class="banner">
            <h1>Create Events</h1>
        </div>

        <div class="actionbar">
            <h2>Event Information</h2>
        </div>

        <div class="table">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="form-item">
                    <label for="title">Event Title:</label>
                    <input type="text" name="title" id="title" required>
                </div>

                <div class="form-item">
                    <label for="category">Category:</label>
                    <select name="category" id="category">
                        {% for category in categories %}
                            <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
        
                <div class="form-item">
                    <label for="start_datetime">Start Date & Time:</label>
                    <input type="datetime-local" name="start_datetime" id="start_datetime" required>
                </div>
    
                <div class="form-item">
                    <label for="end_datetime">End Date & Time:</label>
                    <input type="datetime-local" name="end_datetime" id="end_datetime" required>
                </div>
        
                <div class="form-item">
                    <label for="max_attendees">Max Attendees:</label>
                    <input type="number" name="max_attendees" id="max_attendees" required>
                </div>

                <div class="form-item">
                    <label for="location">Address:</label>
                    <input type="text" name="location" id="location" required>
                </div>

                <div class="form-item">
                    <label for="province">Province:</label>
                    <input type="text" name="province" id="province">
                </div>

                <div class="form-item">
                    <label for="city">City:</label>
                    <select name="action" id="action">
                        <option value="select" selected>ON</option>
                        <option value="select">QC</option>
                    </select>
                </div>

                <div class="form-item">
                    <label for="latitude">Latitude:</label> 
                    <input type="text" name="latitude" id="latitude">
                </div>

                <div class="form-item">
                    <label for="longitude">Longitude:</label>
                    <input type="text" name="longitude" id="longitude">
                </div>

        
                <form id="imageUploadForm">
                    <div class="image-preview-container">
                        <label for="file-upload">Event Image</label>
                        <textarea class="image-preview" id="image-preview" readonly></textarea>
                    </div>
                
                    <div class="upload-container">
                        <label for="file-upload" class="custom-file-upload">Upload Image:</label>
                        <input type="file" id="file-upload" name="image" accept="image/*" onchange="previewImage(event)">
                    </div>
                </form>


                <form action="eventInformationForm">
                    <div class="event-description">
                        <label for="event-info">Event Description:</label>
                        <textarea name="event-info" id="event-info" cols="30" rows="8" placeholder="Tell Eventify about the Event"></textarea>
                    </div>

                    <button type="submit" class="event-submit">Create Event</button>
                </form>
            </form>
        </div>
        <br>
        <a href="{% url 'event_list' %}" class="btn">Back to Event List</a>
    </section>
</main>
    

{% endblock %}
