{% extends "base.html" %}

{% block content %}


<section class="event-detail">
    <div class="event-container">

       {% if event.image %}
            <img src="{{ event.image.url }}" alt="{{ event.title }}" class="event-image">
        {% else %}
            <p>No image available for this event.</p>
        {% endif %}


        <h1>{{ event.title }}</h1>
        <p class="event-date"><strong>Date:</strong> {{ event.start_datetime }}</p>
        <p class="event-location"><strong>Location:</strong> {{ event.location }}</p>
        <p class="event-description">{{ event.description }}</p>


    </div>
</section>


{% endblock %}