{% extends 'base.html' %}

{% block content %}

    <section class="hero">
        <h1>Connecting people to create meaningful moments together.</h1>

        <div class="hero-buttons">
            <a href="" class="create">Create</a>
        </div>
    </section>

    <section class="categories">
        <div><i class="fas fa-music"></i><br>Music</div>
        <div><i class="fas fa-gamepad"></i><br>Game</div>
        <div><i class="fas fa-basketball-ball"></i><br>Sports</div>
        <div><i class="fas fa-code"></i><br>Developer</div>
        <div><i class="fas fa-users"></i><br>Conference</div>
        <div><i class="fas fa-plane"></i><br>Travel</div>
    </section>

    <section class="subtitle">
        <h2 class="all">All</h2>
    </section>

    <section class="event-cards">
        {% if query %}
            <div>
                <h2>Search Results for "{{ query }}"</h2>
            </div>
        {% endif %}
    
        {% if all_events.exists %}
        {% for event in all_events %}
            <div class="event-card">
                {% if event.image %}
                    <a href="{% url 'event_detail' event.id %}">
                        <img src="{{ event.image.url }}" alt="Event Image" class="event-image">
                    </a>
                {% else %}
                    <p>No image available for this event.</p>
                {% endif %}
                <div class="event-card-content">
                    <h3>{{ event.title }}</h3>
                    <p><i class="fa-solid fa-calendar-days"></i> {{ event.start_datetime|date:"D, M j, g:i A" }}</p>
                    <p>Location: {{ event.location }}</p>
                    <span class="favorite"><i class="fa-regular fa-heart"></i></span>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% if query %}
            <p>No events found matching your search.</p>
        {% else %}
            <p>No events available at the moment.</p>
        {% endif %}
    {% endif %}
    
    </section>

    <section class="subtitle">
        <h2 class="feature">Featured Events</h2>
    </section>

    <section class="event-cards">
            {% for event in featured_events %}
                <div class="event-card">
                    {% if event.image %}
                        <a href="{% url 'event_detail' event.id %}">
                            <img src="{{ event.image.url }}" alt="Event Image" class="event-image">
                        </a>
                    {% else %}
                        <p>No image available for this event.</p>
                    {% endif %}
                    <div class="event-card-content">
                        <h3>{{ event.title }}</h3>
                        <p><i class="fa-solid fa-calendar-days"></i> {{ event.start_datetime|date:"D, M j, g:i A" }}</p>
                        <p>Location: {{ event.location }}</p>
                    </div>
                </div>
            {% empty %}
                <p>No featured events available.</p>
            {% endfor %}
    </section>

{% endblock %}
