{% extends "base.html" %}

{% load static %} 

{% block extra_stylesheets %}
    <link rel="stylesheet" href="{% static 'events/my_events_dashboard.css' %}">
{% endblock %}

{% block content %}
 
<section class="dashboard">
    <h1>Your Attending Events</h1>
 
    <div class="attend">
        {% if attending_events %}
        <form method="POST">
            {% csrf_token %}
            <div class="events-grid"> 
                {% for event in attending_events %}
                <div class="event-card"> 
                    <h2>
                        <a href="{% url 'event_detail' event.id %}">
                            <strong>{{ event.title }}</strong>
                        </a>
                    </h2>
                    <h3><span class="fa-solid fa-calendar-days"></span> {{ event.start_datetime|date:"D, M j, g:i A" }}</h3>
                    <h3><span class="fa-solid fa-map-marker-alt"></span> {{ event.location }}</h3>
                    <input type="checkbox" name="selected_events" value="{{ event.id }}">
                </div>
                {% endfor %}
            </div>
            <br>
            <button type="submit" name="action" value="cancel" class="cancel-attendance-btn">
                <p><span class="fa-solid fa-times"></span> Cancel Selected Events</p>
            </button>
        </form>
        {% else %}
            <p>You are not attending any events yet.</p>
        {% endif %}
    </div>
</section>
 
{% endblock %}
 